

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.body{
    /* font-family: 'Montserrat', sans-serif; */
    /* font-size: 19px; */
    /* background-color: ; */
} 

.class101{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    width: 100%;
}
.class101m{
    width: 70vw;
    }

.top{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li{
    /* display: flex;    */
    margin-left: 10px; 
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: #23A6F0;

}
.login:hover{
    color: #23A6F0;
    cursor: pointer;
}
.topr button{
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid white;    
    color: white;
    border-radius: 10px;
}
.topr button:hover{
    background-color:#23A6F0;
    /* margin-left: 10px; */
    
}
.top button ion-icon:hover{
    margin-left: 10px;
}



.brand{
    font-size: 25px;
    margin-right: 40px;
}
.brandnav{
    display: flex;
    justify-content: space-between;
}
.content-t{
    /* background-color: yellow; */
}
.info-main{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    font-size: 65px;
    margin-top: 12%;
    margin-bottom: 5%;
    color: white;
}
.info-top{
    color: white ;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 5%;
    text-align: center;

}
.button-t{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
}
.button-t button{
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 15px;    
    border:1px solid white ;
    background-color: transparent;
    color: white;
}
.button-t button:hover{
    background-color: #23A6F0;
}


.grid1{
    /* background-color: red; */
    display: flex;
    
    /* grid-template-columns: repea(3, 1fr);
    grid-template-areas: 
    'p s st'; */
}
.peace, .set, .satisfaction{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    height: 200px;
    background-color: white;
    margin: 20px;
}
.peace .pp, .set .pp, .satisfaction .pp{
    font-size: 25px;
    font-weight: 700;
}

ion-icon{
    font-size: 50px;
    color: #129FEF;
}
    
.peace{
    grid-area: p;
    box-shadow: 1px 2px 7px rgb(226, 226, 226);

}

.set{
    grid-area: s;
    box-shadow: 1px 2px 7px rgb(226, 226, 226);
}
.satisfaction{
    grid-area: st;
    /* background-color: #23A6F0 ; */
    /* color: white; */
}
.satisfaction:hover, .peace:hover, .set:hover {
    background-color: #23A6F0 ;
    color: white;
}
.grid1:hover ion-icon{
    color: white;
}

.space{
    background-color: #FAFAFA;
    height: 200px;
}


.class202{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
   
}
.class202m{
    /* background-color: black; */
    width: 75vw;
}
.grid2{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'p2 s2 st2';
}


.peace2{
    grid-area: p2;   

}
.set2{
    grid-area: s2;
  
}
.satisfaction2{
    grid-area: st2;
}

.peace2, .set2, .satisfaction2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    height: 200px;
    text-align: center;
     margin: 50px 0px;
}
.peace2 .pp, .set2 .pp, .satisfaction2 .pp{
    font-size: 25px;
    font-weight: 700;
}

.peace2 ion-icon, .set2 ion-icon, .satisfaction2 ion-icon{
    position: relative;
    margin-left: 40%;

}
.class303{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.class303m{
    /* background-color: pink; */
    width: 70vw;
}
.class303 .pp{
    font-size: 25px;
    font-weight: 700;
}
.industry{
    margin-top: 70px;
    text-align: center;
}

.grid3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'p1 p2 p3';
    gap: 50px;
    margin-bottom: 30px;

}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.p1 img, .p2 img, .p3 img{
    height: 180px;
    width: 180px;
    margin-bottom: 40px;
}
.p1, .p2, .p3{
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #DADADA;
    border-radius: 5px;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}
.stars ion-icon{
    height: 30px;
    width: 20px;
    color: #F3CD02;
}
.grid4{
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 'h l ha str aw re';
    margin-top: 200px;
    margin-bottom: 50px;
}

.hooli{
grid-area: h;
}
.lyft{
grid-area: l;
}
.hat{
grid-area: ha;
}
.stripe{
grid-area: str;
}
.aws{
    grid-area: aw;
}
.reddit{
    grid-area: re;
}
.hooli img, .lyft img, .hat img, .stripe img, .aws img, .reddit img{
    width: 70px;
}
.hooli, .lyft, .hat, .stripe, .aws, .reddit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid5{
    display: grid;
    grid-template-columns: repeat(2, ifr);
    grid-template-areas: 'su su-b';
    background: linear-gradient(to right,#034688, #5C3188, #D21589);
    padding: 35px;
    margin-bottom: 10%;
    
}
.grid5 p{
    font-size: 25px;
}
.sub{
    grid-area: su;
    color: white;
    font-size: 27px;
}
.sub-b{
    display: flex;
    justify-content: space-between;
    grid-area: su-b;
    background-color: white;
    width: 90%;
    margin-left: 30px;
    /* border: 5px solid black; */
    border-radius: 10px;
}
.sub-b button{
    border: 1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 30px;
    background-color: #23A6F0;
    color: white;
    font-size: 16px;
}
.sub-b button:hover{
    background-color: #0085d2;
}
.sub-b input{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    
}
.pricing{
    text-align: center;
    margin-bottom: 70px;
}
.grid6{
    margin-top: 30px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'fr st pr';
    text-align: center;
    /* background-color: wheat; */
    box-sizing: border-box;
    padding: 30px;
    /* padding-bottom: 50px */
    ;
}
.free{
    grid-area: fr;
    /* height: 90%; */
    /* background-color: rgb(251, 107, 251); */
    margin-top: 30px;
    padding-top: 20px;
    border: 2px solid #17A1EF;
    border-radius: 10px;
    padding-bottom: 22px;
}
.standard{
      /* grid-area: fr; */
    /* height: 90%; */
    /* background-color: rgb(251, 107, 251); */
    margin-top: 30px;
    padding-top: 20px;
    border: 2px solid #17A1EF;
    border-radius: 10px;
    padding-bottom: 22px;
    
    /* grid-area: st;
    height: 90%;
    background-color: #252B42;
    color: white;
    padding-top: 30px;
    border: 2px solid #17A1EF;
    border-radius: 10px;
    padding-bottom: 40px; */
    
}
.premium{
    grid-area: pr;
    /* height: 90%; */
    /* background-color: #ef7474; */
    margin-top: 30px;
    padding-top: 20px;
    border: 2px solid #17A1EF;
    border-radius: 10px;
    padding-bottom: 22px;
}
.free:hover, .standard:hover, .premium:hover{
   
    background-color: #252B42;
    color: white;
    /* padding: 300px; */
    border: 2px solid #17A1EF;
    border-radius: 10px;
    padding: 40px;
    margin-top: 0px;

}
.dollar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0;
}

.grid-dollar{
    display: grid;   
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'va dol'
    'va pm';
    font-weight: 600;    
    font-size: 10px;
    color: #23A6F0;
}

.val p{
    grid-area: va;
    font-size: 30px;
    text-align: end;
}
.dollars{
    display: flex;
    flex-direction: row;
    grid-area: dol;
    text-align: start;
    margin-left: 0;
    height: 20px;
}
.pm{
    margin-top: -20px;
    grid-area: pm;
    width: 100px;
    /* background-color: #F3CD02; */
    font-size: 13px;
}
.month p{
    font-size: 5px;
}
.checks p ion-icon{
    font-size: 30px;
    color: #2DC071;
}
.checks p{
    font-size: 25;
    padding: 5px;

}
.grid6 .button button{
    background-color: #23A6F0;
    border: 1px solid #23A6F0;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    
}
.class404{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252B42;
    color: white;
    /* height: ; */
}
.class404m{
    width: 70vw;
    margin-top: 50px;
    /* background-color: #2DC071; */
    height: 500px;

    
}
.grid7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'brn gl';
    margin-top: 50px;
    margin-top: 50px;
}
.branches{
    grid-area: brn;
}
.globe{
    grid-area: gl;
}
.grid7 img{
    height: 200px;
    width: 400px;
    align-items: center;
    
}
.grid8{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 500px; */
    /* background-color: aquamarine; */
}

.grid8 .fam {
    width: 200px;
    height: 400px;
}

.grid8 .fam img{
    width: 200px;
    height: 530px;
    box-shadow: 1px 1px 7px grey;

}

.form h3{
    text-align: center;
}
.form input {
    padding: 10px;
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    border-radius: 5px;
    width: 80%;
}
.form label {
    padding: 10opx 0px;
    margin-top: 5px;
}
.form{
    padding: 30px;
    color: black;
    background-color: white;
    width: 500px;
    box-shadow: 1px 1px 7px grey;

}
.form button{
    width: 80%;
    background-color: #129FEF;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
#department{
    padding: 10px;
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    border-radius: 5px;
    width: 80%;   
}

.contact{
    margin-top: 90px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* background-color: #129FEF; */
}
.contact .bm{
    font-size: 25px;   
}
.contact button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #23A6F0;
    color: white;
}
.class505{
    color: black;
    display: grid;
    /* background-color: #2DC071; */
    
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'com are fea res int'; */
    
}

.grid9{
    /* background-color: antiquewhite; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'com are fea res int';
}
.phone, .location, .mail{
    display: flex;
    align-items: center;
}

.company{
    grid-area: com;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    
}

.features{
    grid-area: fea;
}
.resources{
    grid-area: res; 
}
.intouch{
    grid-area: int;

}

.cbottom{
    margin-top: 500px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bottomc{
    /* background-color: red; */
    width: 70vw;
}
.company, .legal, .features, .resources, .intouch{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
}

.intouch ion-icon{
    font-size: 30px;
}
.love{
    padding-top: 20px;
    margin: 50px 0px;
    display: flex;
   justify-content: space-between;
    /* background-color: whitesmoke; */
    font-size: 15px;
}
.love ion-icon{
    font-size: 30px;
    margin-right: 10px;
}


@media screen and (max-width: 1177px) {
    .grid1{
        /* background-color: red; */
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
        /* margin-bottom: 500px; */
    }
    .space{
        /* background-color: #FAFAFA; */
        height: 700px;
    }
    
}
@media screen and (max-width: 1024px) {
    
    .grid2{
        /* background-color: red; */
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media screen and (max-width:1114px){
    /* Scrrensize for menu humbuger */

}

@media screen and (max-width: 1149px){
    .grid6{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap :20px;
        
    }

}
@media screen and (max-width: 1077px){
    .grid5 p{
        font-size: 15px;

    }

    
}
@media screen and (max-width: 990px){
    .grid2{box-sizing: border-box;
        margin-top: 30px;
    }

}
@media screen and (max-width: 992px){
    .grid2{
        margin-top: 80px;
    }
    .contact .bm{
        font-size: 20px;   
    }

}

@media screen and (max-width: 904px){ 

.grid3{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;

}    
}
@media screen and (max-width: 817px){
    .grid4{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    .sub{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        /* gap: ; */
    }
    .sub-b button{
       
        border-radius: 10px;
        padding: 10px 10px;
        background-color: #23A6F0;
        color: white;
        /* font-size: 16px; */
    }
    .sub-b{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: transparent;
        width: 90%;
        border-radius: 10px;
    }
    .sub-b input{
        width: 80%;
        padding: 5px 10px;
        font-size: 16px;
        
    }
   
}

@media screen and (max-width: 707px){
    
}

@media screen and (max-width: 909px){
    .grid7{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        /* background-color: #D21589; */
    }
    .class404m{
        /* background-color: #129FEF; */
        margin-bottom: 100px;
    }
    .branches h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 1090px){
    nav ul{
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        gap :20px;
    }
    nav ul li{
        margin-bottom: 10px;
    }
    .brand{
        margin-right: 10px;
    }
}
@media screen and (max-width: 1124px){
    .grid9{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        
    }
    
}
@media screen and(max-width: 781px) {
    .bottom2 .bm{
        font-size: 10px;  
        background-color: #D21589; 
    }
    .contact button{
        border: none;
        padding: 5px 10px;
    }
    
}
@media screen and(max-width: 745px) {
    .brand{
        font-size: 12px;
    }
    
}